version: 2
jobs:
  build-and-test:
    docker:
      - image: "circleci/node:9.6.1"
    dockerExecutorX:
      - image: "circleci/node:9.6.1"
    steps:
      - checkout
      - run: uname -a
workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
