version: 2
jobs:
  build-and-test:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: |
        DEBIAN_FRONTEND=noninteractive
        sudo apt-get update -y && sudo apt-get upgrade -y
      - run: sudo apt-get install apt-transport-https
      - run: sudo apt install virtualbox virtualbox-ext-pack
      - run: sudo apt-get install -y kubectl
      - run: sudo dpkg -i minikube_latest_amd64.deb && minikube version

workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
