version: 2
jobs:
  build-and-test:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: lala
    steps:
      - checkout
      - run: uname -a
workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
