version: 2
jobs:
  build-and-test:
    macos:
      xcode: "11.3.3"
    steps:
      - checkout
      - run: uname -a
workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
