version: 2
jobs:
  build-and-test:
    docker: true
    dockerX: true
    steps:
      - checkout
      - run: uname -a
workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
