version: 2
jobs:
  build-and-test:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: sudo apt-get update -y
      - run: sudo apt-get upgrade -y
      - run: sudo apt-get install apt-transport-https
      - run: sudo apt install virtualbox virtualbox-ext-pack

workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
