version: 2
jobs:
  build-and-test:
    machine:
      image: ubuntu-2004:202104-01
    steps:
      - checkout
      - run:
          name: install
          command: |
            DEBIAN_FRONTEND=noninteractive
            sudo apt-get update -y
            sudo apt-get install apt-transport-https
            sudo apt install -y virtualbox
            sudo snap install kubectl --classic
            sudo snap install helm --classic

            curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
            sudo dpkg -i minikube_latest_amd64.deb && minikube version
      - run:
          name: minikube start
          command: |
            minikube version
            minikube start

workflows:
  version: 2

  feature_branch_checks:
    jobs:
      - build-and-test
